<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<tr th:each="karyawanModel:${karyawanModelList}">
		<td><a th:text="${karyawanModel.idKaryawan}"></a></td>
		<td><a th:text="${karyawanModel.kodeKaryawan}"></a></td>
		<td><a th:text="${karyawanModel.namaKaryawan}"></a></td>
		<td><a
			th:text="${#calendars.format(karyawanModel.tglLahirKaryawan, 'dd MMMM yyyy')}"></a></td>
		<td><a th:text="${karyawanModel.kotaModel.namaKota}"></a></td>
		<td>
			<button id="btn-dl" type="button" class="btn btn-secondary btn-sm"
				th:value="${karyawanModel.idKaryawan}">Download</button>
		</td>
		<td><img
			th:src="@{/karyawan/show(idKaryawan=${karyawanModel.idKaryawan})}"
			height="50px" width="50"></td>
		<td>
			<button id="btn-hapus" type="button" class="btn btn-danger btn-sm"
				th:value="${karyawanModel.kodeKaryawan}">Hapus</button>
		</td>
	</tr>

</body>

</html>